html[lang=ja-JP] body {
    font-family: "Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
}
html[lang=zh-CN] body {
    font-family: "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}
html[lang=zh-TW] body {
    font-family: "MHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}
html[lang=zh-HK] body {
    font-family: "MHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}
html[lang=th-TH] body {
    font-family: "Sukhumvit Set","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}
html[lang=ko-KR] body {
    font-family: "Yoon Gothic","Helvetica Neue","Helvetica","Dotum","Arial","Verdana","sans-serif";
}
