html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,p,blockquote,figure,form,fieldset,input,legend,pre,abbr {
    margin: 0;
    padding: 0;
}

pre,code,address,caption,th,figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset,iframe,img {
    border: 0;
}

caption,th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,aside,footer,header,nav,main,section,summary,details,hgroup,figure,figcaption {
    display: block;
}

audio,canvas,video,progress {
    display: inline-block;
    vertical-align: baseline;
}

button {
    font: inherit;
    vertical-align: middle;
}

@media print {
    body,#main,#content {
        color: #000;
    }

    a,a:link,a:visited {
        color: #000;
        text-decoration: none;
    }

    .noprint,.hide {
        display: none;
    };
}

html {
    font-size: 112.5%;
}

body {
    background-color: #fff;
    color: #333;
    font-style: normal;
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
}

html[lang=ja-JP] body {
    font-family: "Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
}

html[lang=zh-CN] body {
    font-family: "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

html[lang=zh-TW] body {
    font-family: "MHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

html[lang=zh-HK] body {
    font-family: "MHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

html[lang=th-TH] body {
    font-family: "Sukhumvit Set","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

html[lang=ko-KR] body {
    font-family: "Yoon Gothic","Helvetica Neue","Helvetica","Dotum","Arial","Verdana","sans-serif";
}

body,input,textarea,select,button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}

a {
    color: #08c;
}

a:visited,a:link,a:active {
    text-decoration: none;
}

html.no-js a:hover {
    text-decoration: underline;
}

html.no-touch a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 200;
}

@media only screen and (max-width: 1068px) {
    h1 {
        font-size: 52px;
        line-height: 1.0769;
        font-weight: 200;
    };
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 1.1111;
        font-weight: 200;
    };
}

h2 {
    font-size: 52px;
    line-height: 1.0865;
    font-weight: 200;
}

@media only screen and (max-width: 1068px) {
    h2 {
        font-size: 42px;
        line-height: 1.1429;
        font-weight: 200;
    };
}

